.footer-div {
  width: 80vw;
  min-width: 400px;
  background-color: #182848;
  height: 50px;
  font-size: 2rem;
  color: #fff;
  border: 0.5px solid#182848;
  border-radius: 5px;
  margin: 50px 0px;
  height: 55px;
  display: flex;
  justify-content: center;
}

.brand {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  margin-right: 1.5rem;
}
